<ion-view view-title="我的账号">
  <ion-nav-buttons side="right">
    <button class="button icon ion-android-menu" ng-click="openPopover($event)"></button>
    <a class="button icon ion-ios-home" href="#/rootTab/home"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="my-computer-view">

      <div class="padding"></div>

      <div class="text-center">
        <img class="my-portrait" src="img/bubbles-alt-icon.png"/>
      </div>

      <div class="padding text-center">
        <p>用户的Name(用户的ID)</p>
      </div>

      <ion-item class="item-icon-right my-small-padding-up-bottom" ng-click="">
        修改信息
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right my-small-padding-up-bottom" ng-click="">
        修改密码
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <div class="padding"></div>

      <ion-item class="item-icon-right my-small-padding-up-bottom" ng-click="">
        收藏
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right my-small-padding-up-bottom" ng-click="">
        分享
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right my-small-padding-up-bottom" ng-click="">
        足迹
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right my-small-padding-up-bottom" ng-click="">
        心愿单
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <div class="padding my-top-margin">
        <button class="button button-block button-assertive" ng-click="logout()">退出登录</button>
      </div>

    </div>
  </ion-content>
</ion-view>
