<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab class="my-hidden" title="主页" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/rootTab/home">
    <ion-nav-view name="rootTab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="景观" icon-off="ion-navicon-round" icon-on="ion-navicon-round" href="#/rootTab/sightList">
    <ion-nav-view name="rootTab-sightList"></ion-nav-view>
  </ion-tab>

  <ion-tab title="附近" icon-off="ion-map" icon-on="ion-map" href="#/rootTab/nearby">
    <ion-nav-view name="rootTab-nearby"></ion-nav-view>
  </ion-tab>

  <ion-tab title="历史" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/rootTab/history">
    <ion-nav-view name="rootTab-history"></ion-nav-view>
  </ion-tab>

  <ion-tab title="路线" icon-off="ion-ios-navigate" icon-on="ion-ios-navigate" href="#/rootTab/route">
    <ion-nav-view name="rootTab-route"></ion-nav-view>
  </ion-tab>

  <ion-tab title="账号" icon-off="ion-ios-person" icon-on="ion-ios-person" href="#/rootTab/mine">
    <ion-nav-view name="rootTab-mine"></ion-nav-view>
  </ion-tab>

</ion-tabs>
