<ion-view view-title="用户注册">
  <ion-nav-buttons side="right">
    <a class="button" href="#/place">
      <i class="icon ion-android-menu"></i>
      景观注册
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div class="padding my-computer-view">

      <label class="item item-input item-floating-label my-white-background my-top-margin">
        <span class="input-label">
          用户ID：
          <span ng-show="user_id!=null&&user_id!=''&&user_id.length>30" class="my-red">(错误：长度必须小于30)</span>
        </span>
        <input type="text" placeholder="用户ID(长度必须小于30)" ng-model="user_id"/>
      </label>

      <label class="item item-input item-floating-label my-white-background">
        <span class="input-label">用户密码：</span>
        <input type="password" placeholder="用户密码" ng-model="user_password"/>
      </label>

      <label class="item item-input item-floating-label my-white-background">
        <span class="input-label">
          确认密码：
          <span ng-show="user_password!=null&&user_password!=''&&user_password_confirm!=null&&user_password_confirm!=''
          &&user_password!=user_password_confirm" class="my-red">(错误：必须与密码一致)</span>
        </span>
        <input type="password" placeholder="确认密码(必须与密码一致)" ng-model="user_password_confirm"/>
      </label>

      <div class="padding my-top-margin">
        <button ng-show="user_id!=null&&user_id!=''&&user_password!=null&&user_password!=''&&user_password_confirm!=null
        &&user_password_confirm!=''&&user_id.length<=30&&user_password==user_password_confirm"
                class="button button-block button-positive" ng-click="register(user_id,user_password)">注册</button>
        <div ng-show="!(user_id!=null&&user_id!=''&&user_password!=null&&user_password!=''&&user_password_confirm!=null
        &&user_password_confirm!=''&&user_id.length<=30&&user_password==user_password_confirm)" class="item item-text-wrap text-center">
          请正确、完整填写信息
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
