<ion-view view-title="注册">
  <ion-content padding="true" class="has-header">

    <div class="padding">
      <label class="item item-input item-floating-label">
        <span class="input-label">用户ID：</span>
        <input type="text" placeholder="用户ID" ng-model="user_id" name="user_id"/>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">用户密码：</span>
        <input type="password" placeholder="用户密码" ng-model="user_password" name="user_password"/>
      </label>

    </div>

  </ion-content>
</ion-view>
