<ion-view view-title="{{sight_name}}：评价信息">
  <ion-nav-buttons side="right">
    <button class="button icon ion-android-menu" ng-click="openPopover($event)"></button>
    <a class="button icon ion-ios-home" href="#/rootTab/home"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="padding my-computer-view">

      <ion-item class="my-small-padding-up-bottom positive my-text-big">
        评价信息
      </ion-item>
      <ion-item>
        评价信息
      </ion-item>


    </div>
  </ion-content>
</ion-view>
