<ion-view view-title="{{sight_name}}：详细资料">
  <ion-nav-buttons side="right">
    <button class="button icon ion-android-menu" ng-click="openPopover($event)"></button>
    <a class="button icon ion-ios-home" href="#/rootTab/home"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="padding my-computer-view">

      <ion-item class="my-small-padding-up-bottom positive my-text-big">
        基本信息
      </ion-item>
      <ion-item>
        基本信息
      </ion-item>

      <ion-list class="padding">
      </ion-list>

      <ion-item class="my-small-padding-up-bottom positive my-text-big">
        图片库
      </ion-item>
      <ion-item>
        图片库
      </ion-item>

      <ion-list class="padding">
      </ion-list>

      <ion-item class="my-small-padding-up-bottom positive my-text-big">
        详细介绍
      </ion-item>
      <ion-item>
        详细介绍
      </ion-item>
      <ion-item class="text-center">
        <div>
          <button class="button button-positive my-button-small"><i class="ion-plus"></i>&nbsp收藏</button>
          <button class="button button-positive my-button-small"><i class="ion-plus"></i>&nbsp分享</button>
          <button class="button button-positive my-button-small"><i class="ion-plus"></i>&nbsp足迹</button>
          <button class="button button-positive my-button-small"><i class="ion-plus"></i>&nbsp心愿</button>
        </div>
        <div class="padding">
        </div>
        <div>
          <button class="button button-assertive my-button-small">&nbsp&nbsp报错&nbsp&nbsp</button>
        </div>
      </ion-item>

    </div>
  </ion-content>
</ion-view>
