<ion-popover-view id="pover-navi">
  <ion-content>
    <ion-list ng-click="popover.hide()">
      <ion-item  menu-close href="#/rootTab/sightList">
        景观列表
      </ion-item>
      <ion-item  menu-close href="#/rootTab/nearby">
        附近景观
      </ion-item>
      <ion-item  menu-close href="#/rootTab/history">
        搜索历史
      </ion-item>
      <ion-item  menu-close href="#/rootTab/route">
        路线规划
      </ion-item>
      <ion-item  menu-close href="#/rootTab/mine">
        我的账号
      </ion-item>
    </ion-list>
  </ion-content>
</ion-popover-view>
