* {
  font-family: "Microsoft YaHei UI Light";
}

button {
  font-family: "Microsoft YaHei UI Light";
}

ion-content {
  background-color: #f0f0f0;
}

.my-white-background {
  background-color: white;
}

.my-computer-view {
  max-width: 500px;
  margin:0 auto;
}

.my-top-margin {
  margin-top: 10px;
}

.my-bottom-margin {
  margin-bottom: 10px;
}

.my-red {
  color: red;
}

.my-hidden {
  visibility: hidden;
  margin-right: -10%;
}

.my-no-padding {
  padding: 0;
}

.my-small-padding-up-bottom {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.my-no-padding-bottom{
  padding-bottom: 0;
}

.my-button-small {
  line-height: 1.8em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  min-height: 0;
  min-width: 0;
}

.my-button-balanced-weak {
  color: white;
  background-color: #80f080;
}

.my-map-wrapper {
  height: 430px;
}

.my-map-wrapper-small {
  height: 200px;
}


#pover-navi {
  height: 19em;
  width: 130px;
}

#pover-sightList {
  height: 400px;
  width: 310px;
}

.slider {
  height: 430px;
}

.my-slider-comment {
  height: 200px;
}

.my-text-small {
  font-size: 10pt;
}

.my-text-big {
  font-size: 14pt;
  font-weight: bold;
}

.my-table-full-width {
  width: 100%;
}

.my-cell-long {
  width: 50%;
  height: 1.9em;
}

.my-cell-short {
  width: 25%;
  height: 1.9em;
}

.my-float-right {
  float: right;
}

.my-portrait {
  background-color: white;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
